= link_to question.title, question
| &nbsp;
- if user_signed_in? && current_user.author_of?(question)
  = link_to 'delete question', question_path(question), data: { method: :delete, confirm: "Are you sure?" }
<br>
